@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');

@font-face {
  font-family: "Bbagian";
  src: url("./font/bBagian.otf");
}



a{
  text-decoration: none;
}
p,button,input,textarea{
  font-family: 'Merriweather', serif;
  text-decoration: none !important;

}
input,textarea{
  font-size: 0.9vmax !important;
}
p{
  color:rgb(241, 241, 241);
  font-size: 0.9vmax !important;
  text-decoration: none;
  line-height: 30px !important;
}


@media(max-width: 800px) {
   p{
    font-size: 1.5vmax !important;
}
input,textarea{
  font-size: 1.5vmax !important;
  font-family: Merriweather,serif;
  text-decoration: none!important
}
.btn{
  font-size: 1.2vmax !important;
  font-family: Merriweather,serif;
  text-decoration: none !important
}
.btn-black{
  font-size: 1.2vmax !important;
  font-family: Merriweather,serif;
  text-decoration: none!important
}
}


.react-multi-carousel-track {
  padding: 6rem 0;
}


.Feedbacks {
  display: flex;
  flex-wrap: wrap;
  margin-top: 6rem;
  gap: 20px;
  justify-content: center;
}

.Feedbacks > div {
  width: 31%;
  margin-bottom: 6rem;
}


h1,h2,h3,h4,h5,h6{
  font-family: "Bbagian";
  color:white;
}

h1{
  font-size: 3vmax;
  letter-spacing: 2px;
}

h2{
  font-size: 2.8vmax;
   letter-spacing: 2px;
}

h3{
  font-size: 2.5vmax;
   letter-spacing: 2px;
}
h4{
  font-size: 2.2vmax;
   letter-spacing: 2px;
}
h5{
  font-size: 2vmax;
   letter-spacing: 2px;
}
h6{
  font-size: 1.8vmax;
   letter-spacing: 2px;
}


.mt-3 {
  margin-top: 30px;
  display: inline-block;
}

.d-inline-block {
  display: inline-block;
}

*{
  margin: 0;
}

body{
  background: url('./images/body-bg.png');
  background-size: cover ;
  background-repeat: no-repeat;
  background-position:center;
}

.btn{
  background-color: #e97d2e;
  padding: 1vw 2vw;
  border-radius: 30px;
  font-size: 0.9vmax;
  font-weight: bold;
  transition: 0.5s;
  cursor: pointer;
  border:1px solid black;
  color: black !important;
  font-family: Merriweather,serif;
  text-decoration: none !important
}


.btn:hover{
  transform: translateY(-10px);
}

.displaynone{
  display: none;
}

.btn-black{
  background-color: black;
  padding: 1vw 2vw;
  border-radius: 30px;
  font-size: 0.9vmax;
  font-weight: bold;
  transition: 0.5s;
  cursor: pointer;
  border:1px solid black;
  color:white ;
}
.btn-black:hover{
  transform: translateY(-10px);
}

.swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 300px;
}

.swiper-slide img {
  display: block;
  width: 100%;
}



.Navbar{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  background-color: #0d0602;
  z-index: 1;
  position: relative;
}

.navbar_mid{
  display: flex;
  justify-content: center;
  align-items: center;
  gap:20px;
}

.navbar_mid p{
  color: white;
  padding: 40px 10px;
  border-radius: 0px 0px 40px 40px;
  transition: 0.5s;
  cursor: pointer;
  text-decoration: none;
}

.navbar_toggle{
  display: none;

}

.navbar_mid p:hover{
  background-color: #e97d2e;
}

.logo_text{
  background-color: transparent;
  padding: 5% 5px;
  border: none;
  border-radius: 10px;
  margin: 10px 0;
  transition: 0.3s;
  cursor: pointer;
}

.logo_text:hover{
  transform: translateY(-10px);
}
.logo_text img{
  font-size: 6vmax;
  width: 2em;;
}

@media screen and (max-width:852px){
  .navbar_mid{
      display: none;
  }
  .navbar_toggle{
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
  }

}


/* TOGGLE BUTTON */

.navbar_toggle button{
background-color: #e97d2e;
border-radius: 30px;
font-size: 0.9vmax;
font-weight: bold;
transition: 0.5s;
cursor: pointer;
border:1px solid black;
}

.navbar_toggle button img{
width: 15px;
}

.navbar_after_toggle{
  position: fixed;
  background-color: red;
  right: 0;
  top: 0;
  z-index: 99;
  transition: 0.5s ease-in-out;
}

.navbar_after_toggle_sticky{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: absolute;
  top: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.63);
  height: 100vh;
  width: 40vw;
  transition: 0.5s ease-in-out;
  gap: 20px;
}

.navbar_after_toggle h6{
color: white;
transition: 0.3s;
display: inline-block;
font-weight: bold;
}
.navbar_after_toggle p:hover{
background-color: #e97d2e;
color: white;

}
.navbar_after_toggle Link{
background-color: red;
}

.Landing{
  background: url('./images/landing-bg.png');
  background-size: 100% 90%;
  background-repeat: no-repeat;
  background-position:top;
  display: flex;
  justify-content: space-evenly;
  align-items:flex-start;
  z-index: 1;
}


.landing_right img{
  font-size: 20vmax;
  width: 2em;
}

.landing_left{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  margin-left: 10%;
  margin-top: 8vw;
  max-width: 500px;
}

.landing_left h1{
  font-size: 3vmax;
}




@media screen and (max-width:852px){
.Landing{
  flex-direction: column;
  margin-top: unset;
  align-items: center;
  padding-top: 30px;
 
}
.landing_left{
  margin-top: 20px;
  margin-left: 0;
  align-items: center;
  max-width: 100%;
  text-align: center;
}
.landing_right{
  text-align: center;
  width: 100%;
}
.landing_left p{
  padding: 0 40px;
}
.landing_left h1{
  padding: 0 10px;
}
}
.About{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  margin: 50px 0;

}

.About_reverse{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  gap: 50px;
  margin: 100px 0;
}

.about_left p{
  max-width: 650px;
  font-size: 0.9vmax;
  padding: 0 30px;
}


.about_left{
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 20px;

}
.about_right img{
width:55vh;
transition: 0.3s;
}
.about_right img:hover{
  transform: translateY(-10px);
}
@media screen and (max-width:852px){

  .About{
      flex-direction: column-reverse;
  }
  .about_left{
  align-items: center;
  text-align: center;
  }
  .about_right img{

      width: 30vh;
  }
  .about_left p {
      font-size: 13px;
  }

}
.Gallery{
  background: url('./images/gallery-bg-black.png');
  background-size:100% 100%;
  background-repeat: no-repeat;
  background-position:center;
  padding: 5vw 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  position: relative;
}

.Gallery_gallerypage{
  padding: 5vw 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

.gallery_head h1{
  margin: 20px 0;    
}
.gallery_head p{
  max-width: 900px;
  margin: auto;
}
.gallery_head{
  text-align: center;
  margin-bottom: 40px;

}

.dog_img_1 img{
  position: absolute;
  top: -50px;
  left: 0;
  width: 13vw;
}
.dog_img_2 img{
  position: absolute;
  bottom: -90px;
  right: 0;
  width: 20vw;
}

/* masonry gallery */

.grid {
  column-count: 4;
  column-gap: .5em;
  max-width: 980px;
  margin: auto;
  width: 100%;
}

.grid__item img {
  height: auto;
  font-size: 6vmax;
  width: 2em;
  transition: 0.3s;
}

.grid__item img:hover{
  transform: translateY(-10px);
}

@media(max-width: 800px) {
    .grid {
      column-count: 3;

  }
}

@media(max-width: 600px) {
    .grid {
      column-count: 2;
      margin-left: 30px;
  }
}

@media(max-width: 400px) {
    .grid {
      column-count: 2;
      margin-left: 30px;
  }
}


@media screen and (max-width:500px){
  .dog_img_2 img{
      bottom: -30px !important;
  right: 0;
  width: 30vw;
  }
}
@media screen and (max-width:852px){
  .dog_img_2 img{
      bottom: -10px;
  right: 0;
  width: 20vw;
  }
  .dog_img_1 img{
      top: 0px;
      left: 0;
      width: 18vw;

  }
}

.Book{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
  padding: 10vw 10%;
}

.Book_bookpage{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
}


.book_top{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  text-align: center;
  padding: 0 10vw;
  flex-wrap: wrap;
}

.book_bottom{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap:50px;
  flex-wrap: wrap;
}

.book_card{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  flex-wrap: wrap;
  margin-bottom: 50px;
}

.book_card_reverse{
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  gap: 50px;
  flex-wrap: wrap;
}

.book_card_img{
  background: url("./images/book-card-red.png");
  background-repeat: no-repeat;
  align-self: stretch;
  display: flex;
  align-items: center;
  max-width: 300px;
}

.book_card .book_card_img img{
  transform: translateX(-70px);
  font-size: 9vmax;
  width: 2em;

}

.book_card_reverse .book_card_img img{
  transform: translateX(70px);
  font-size: 9vmax;
  width: 2em;
}

.book_card_text{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  background-color: rgba(0, 0, 0, 0.281);
  padding: 60px;
  max-width: 500px;
  transform: translateX(30px);
  text-align: left;

}

.book_card_text_reverse{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  background-color: rgba(0, 0, 0, 0.281);
  padding: 60px;
  max-width: 500px;
  transform: translateX(-30px);
  text-align: left;
}

.book_card_text button{
  margin-top: 30px;
}


.book_card_text_payment{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  padding: 10px;
  background-color: black;
  border-radius: 10px;
  margin-top:20px;
}

.book_card_text_payment img:hover{
  transform: translateY(-10px);
}

.book_card_text_payment img{
  font-size: 0.9vmax;
  width: 2em;
  transition: 0.3s;
}

@media screen and (max-width:852px){

  .book_card .book_card_img img {
          transform: unset;
  }
  .book_card_reverse .book_card_img img{
      transform: unset;
  }
  .book_card_text_reverse{
      transform: unset;
  }
  .book_card_text{
      transform: unset;
  }
  .book_card{
      gap:10px
  }
  .book_card_reverse{
      gap:10px
  }

}
.Feedback{
  background: url('./images/gallery-bg-black.png');
  background-size:100% 100%;
  background-repeat: no-repeat;
  background-position:center;
  padding: 10vw 10%;
  /* display: flex; */
  flex-direction: column;
  align-items: center;
  gap: 50px;
  position: relative;
}

.Feedback_img_1 img{
  position: absolute;
  top: -100px;
  left: 0;
  font-size: 6vmax;
  width: 2em;
}

.Feedback_img_1_reverse img{
  position: absolute;
  top: -100px;
  right: 0;
  font-size: 6vmax;
  width: 2em;
}

.feedback_top h1{
  margin: 20px 0;    
}
.feedback_top p{
  max-width: 900px;
  margin: auto;
}
.feedback_top{
  text-align: center;
  margin-bottom: 70px;
}

.feedback_bottom {
  display: flex;
  align-items: stretch;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.feedback_card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  background-color: #e97d2e;
  text-align: center;
  max-width: 100%;
  padding: 20px;
  border-radius: 20px;
  transform: rotate(3deg);
  z-index: 0;
  height: 90%;
}

.border_white{
  border: 2px solid white;
  transform: rotate(-3deg);
  max-width: 100%;
  border-radius: 20px;

  
}

.qoute_top {
position: relative;
}
.qoute_top img{
  position: absolute;
  top: -60px;
  left: 30px;
  z-index: 199;
  font-size: 3vmax;
  width: 2em;
}

.qoute_bottom img{
  position: absolute;
  bottom: -55px;
  right: 30px;
  z-index: 199;
  font-size: 3vmax;
  width: 2em;
}

@media screen and (max-width:852px){

  .Feedback_img_1 img{
      top: -20px;
      left: 0;
      font-size: 7vmax;
      width: 2em;
  }

  .qoute_top img{
      top:-16px;
  }
  .qoute_bottom img{
      bottom: -11px;
  }
  .Feedback{
      padding: 45vw 10%;
  }
  .Feedback_img_1_reverse img{
      top:0;
  }
  

}
.Contact{
  padding: 200px 1%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

}

.contact_left{
  background-color: black;
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap:10px;
  max-width: 400px;
  border: 1px solid white;
  margin-right: -100px;
  z-index: 1;
  transform: translateY(-180px);
}



.contact_left p{
  font-size: 14px;
}
.contact_left h1{
  font-size: 40px;
}

.contact_right p{
  font-size: 14px;
}

.contact_right{
  background-color: black;
  padding: 50px 150px 50px 150px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap:10px;
  max-width: 600px;
  border:1px solid white;
  position: relative;
}

.contact_detail
{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
  margin:10px 0;
}
.contact_detail img{
  font-size: 1.3vmax;
  width: 2em;
}

.contact_social{
  display: flex;
  justify-content: center;
  align-items: center;
  gap:10px;
}
.contact_social img{ 
  font-size: 1vmax;
  width: 2em;
  transition: 0.3s;
  cursor:pointer;
}

.contact_social img:hover{
  transform: translateY(-10px);   
}


.contact_form input{
  padding: 15px;
  width: 90%;
  border: none;
  border-radius: 10px;
  margin: 5px 0;
  font-size: 12px;
}

.contact_form textarea{
  padding: 15px;
  width: 90%;
  border: none;
  border-radius: 10px;
  margin: 5px 0;
  font-size: 12px;
}

.contact_dog img{
  position: absolute;
  top: -300px;
  right: 0;
width: 300px;
}

@media screen and (max-width:852px){
  .contact_left{
      margin: unset;
      transform: translateY(-100px);
  }
  .contact_right{
      padding: 30px;
  }
  .contact_form input{
      width: 80%;
  }
  .contact_form textarea{
      width: 80%;
  }
  .contact_dog img{
      width: 150px;
      top: -150px;
  }
  .contact_left{
      display: none;
  }
}

.BuyNowDetail{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 10vw 0%;
  gap:30px;
}

.buynowdetail_left{
  max-width: 500px;
  padding: 50px;
  background-color: rgba(0, 0, 0, 0.267);
}
.buynowdetail_right{
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
  gap:20px;
  background-color: red;
}
.buynowdetail_right img{
  transform: translateX(40px);
  font-size: 9vmax;
  width: 2em;
}

.videotrailer{
  transform: translateX(40px);
  font-size: 9vmax;
  width: 2em;
}

.BuyNowDetail_pricing{
  display: flex;
  flex-direction: column;
  gap:20px;
  max-width: 350px;
  margin: 30px 0 0 0;
}

.BuyNowDetail_pricing a{
  background-color: black;
  color:white;
  padding: 15px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
  font-size: 0.8vmax;
  text-decoration: none;
}

.BuyNowDetail_pricing a:hover{
  transform: translateY(-10px);
}

.video-react{
  transform: translateX(40px) !important;
}
.video-react-has-started .video-react-control-bar{
  overflow: auto !important;
}


@media screen and (max-width:852px){  
  .buynowdetail_right img{
      transform: unset;
  }
  .video-react{
      transform: unset !important;
  }
}
.BuyNowPage{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10vw 10%;
  text-align: center;
}



.BuyNowPage p{
  max-width: 900px;
}

.buynow_tabs_links{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin: 50px 0;
}

.book_component{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.PageHeader{
  background: url('./images/aboutpage-mainhead-bg.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  display: flex;
  justify-content: space-evenly;
  padding: 200px 10%;
  position: relative;
}

.pageheader_dog{
  position: absolute;
  right: 100px;
}
.pageheader_dog img{
  width: 350px;
  font-size: 10vmax;
  width: 2em;
}
@media screen and (max-width:450px){
  .pageheader_dog{
      right:0px;
      top: 250px !important;
  }
}
@media screen and (max-width:852px){
  .pageheader_dog{
      right:0px;
      top: 170px;
  }

}

@media screen and (max-width:400px){
  .PageHeader{
      background: url('./images/pageheader-mobile-bg.png');
      padding: 120px 0;
      background-size: 100% 100%;
  }
  .pageheader_dog{
      right:0px;
      top: 150px !important;
  }
}

.Footer{
  position: relative;
  margin-top: 70px;
}

.footer_top{
  background: url('./images/footer-bg.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 300px 0 1vw 0;
  position: relative;
}

.footer_data{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;

}

.footer_data p{
  max-width: 120px;
}
.footer_bottom{
  background-color: #e97d2e;
  padding: 5px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
.footer_bottom p{
  font-size: 13px;
}

.footer_payments{
  display: flex;
  justify-content: center;
  align-items: center;
  gap:10px;
  flex-wrap: wrap;
}

.footer_dog_img{
  position: absolute;
  top:-40px;
  left:40px;
  z-index: 10;
}
.footer_dog_img img{
  font-size: 9.2vmax;
  width: 2em;
}


@media screen and (max-width:852px){
.footer_top{
  flex-direction: column-reverse;    
  background: url('./images/footer-mobile-bg.png');
  padding: 17vw 0 2vw 0 !important;
  gap:20px;
}
.footer_data_bottom p{
  max-width: 100;
}
.footer_dog_img{
  top: -60px;
  left: 0;
}
.footer_dog_img img{
  font-size: 10vmax;
}


.Feedbacks > div {
  width: 100%;
  margin-bottom: 3rem;
}
}

.Feedbacks .feedback_card {
  background-color: #000;
}

@media screen and (max-width:450px){
.footer_top{
  padding: 30vw 0 10vw 0 !important;
}
}


ul.slider.animated img {
  width: auto;
}

ul.slider.animated {
  padding: 40px 0;
}

/* custom-carousel.css */

/* Set the width of each carousel item to 50% */
.carousel .slide {
  width: 50%;
  min-width: 50% !important;
}

/* Show two carousel items at the same time */
.carousel .slider-wrapper {
  display: flex;
  align-items: center;
}

/* Optional: Adjust the height of the carousel */
.carousel .slider-wrapper img {
  height: auto;
  max-height: 300px; /* Adjust the height as needed */
}


.book_card:nth-child(even) {
  flex-direction: row-reverse;
}


.buynowdetail_left p {
  margin-bottom: 20px;
}